<div class="formPage">
    <button class="formPage__closeButton" (click)="onCloseForm()">Close</button>
    <form class="formPage__form form" (ngSubmit)="registerPost()">
        <div class="formPage__form--div form__author">
            <label for="author">Author</label>
            <input require type="text" name="author" [(ngModel)]="register.author"/>
        </div>    
        <div class="formPage__form--div form__fullname">
            <label for="author_fullname">Author fullname</label>
            <input type="text" name="author_fullname" [(ngModel)]="register.author_fullname"/>
        </div>
        <div class="formPage__form--div form__category">
            <label for="category">Category</label>
            <input type="text" name="category" [(ngModel)]="register.category"/> 
        </div>
        <div class="formPage__form--div form__language">
            <label for="language">Language</label>
            <input require type="text" name="language" [(ngModel)]="register.language"/>
        </div>
        <div class="formPage__form--div form__original">
            <label for="originalPostId">Original post id</label>
            <input require placeholder="{{postChoosen.id}}" type="text" name="originalPostId" [(ngModel)]="register.originalPostId"/>
        </div>
        <div class="formPage__form--div form__title">
            <label for="title">Title</label>
            <input require type="text" name="title" [(ngModel)]="register.title"/>
        </div>  
        <button class="formPage__submitButton" type="submit">Add translation</button>
    </form>
</div>
