@import '../../../../../assets/styles/theme';

.post {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    background-color: white;
    width: 300px;
    height: 230px;
    border-radius: 5px;
    padding: 15px;

    &__article {
        width: 300px;

        &--buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 10px;
            margin: 5px;
        }

        &--author {
            @include font-body;
            margin-top: 20px;
        }

        &--title {
            @include font-small;
        }

        &--language {
            @include font-small;
        }
    }
}

.buttons {
    &__add {
        @include font-button;
        border-radius: 5px;
        padding: 3px;
    }
    &__info{
        @include font-button-2;
        border-radius: 5px;
        padding: 3px;
    }
    &__localization{
        @include font-button-2;
        border-radius: 5px;
        padding: 3px;
    }
}