<li class="post">
    <article class="post__article">
        <div class="post__article--buttons buttons">
            <button *ngIf = "post.data.original_post_id===null" class="buttons__add" (click)="onShowForm()">Add translation</button>
            <button *ngIf = "post.data.original_post_id===null" class="buttons__info" (click)="onShowDetail()">More info</button>
            <button *ngIf = "post.data.original_post_id"class="buttons__localization" >Localization</button>
        </div>
        <h2 class="post__article--author"> Author: {{post.data.author}}</h2>
        <h3 class="post__article--title">Title: {{post.data.title}}</h3>
        <p class="post__article--language">Language: {{post.data.language}}</p>
    </article>
</li>
